/.venv/
/batfish/snapshot/
/batfish/results.xml
/inventory/**
!/inventory/inventory.yml
!/inventory/cc_templates
!/inventory/cc_templates/**
!/inventory/group_vars
!/inventory/group_vars/**
!/inventory/documentation/fabric/topology_check.py
__pycache__/
*.retry
ansible-*
.vscode
