{% set super_spine_tasks = [] %}
{% set spine_tasks = [] %}
{% set leaf_tasks_mlag_left = [] %}
{% set leaf_tasks_mlag_right = [] %}
---
CVP_CHANGE_CONTROL:
  name: CVP_CHANGE_CONTROL_FROM_AVD
  notes: Created from ansible playbook
  activities:
{%  if task_list is arista.avd.defined %}
{%      for task in task_list %}
{%          set task_id = task[0] %}
{%          set hostname = task[1] %}   
    - task_id: "{{ task_id | quote }}"
      stage: Deploy_Task_{{ task_id }}_{{ hostname }}
{%          if hostvars[hostname].type in ['l3leaf'] %}
{%              if hostname.endswith("A") %}
{%                  do leaf_tasks_mlag_left.append("Deploy_Task_"+task_id+"_"+hostname) %}
{%              else %}
{%                  do leaf_tasks_mlag_right.append("Deploy_Task_"+task_id+"_"+hostname) %}
{%              endif %}
{%          elif hostvars[hostname].type in ['spine']%}   
{%              do spine_tasks.append("Deploy_Task_"+task_id+"_"+hostname) %}
{%          elif hostvars[hostname].type in ['super-spine']%}  
{%              do super_spine_tasks.append("Deploy_Task_"+task_id+"_"+hostname) %}  
{%          endif %}
{%      endif %}
{%  endfor %}
  stages:
    - name: AVD_Change_Control_Root
      mode: parallel
    - name: Super-Spine Tasks
      mode: series
      parent: AVD_Change_Control_Root
{%  for task in super_spine_tasks %}
    - name: {{ task }}
      mode: series
      parent: Super-Spine Tasks
{%  endfor %}
    - name: Spine Tasks
      mode: series
      parent: AVD_Change_Control_Root
{%  for task in spine_tasks %}
    - name: {{ task }}
      mode: series
      parent: Spine Tasks
{%  endfor %}
    - name: Leaf Tasks
      mode: series
      parent: AVD_Change_Control_Root
    - name: Leaf Pre-Checks
      mode: parallel 
      parent: Leaf Tasks
    - name: Leaf MLAG Left Tasks
      mode: parallel
      parent: Leaf Tasks
    - name: Leaf MLAG Right Tasks
      mode: parallel
      parent: Leaf Tasks
{%  for task in leaf_tasks_mlag_left %}
    - name: {{ task }}
      parent: Leaf MLAG Left Tasks
{%  endfor %}
{%  for task in leaf_tasks_mlag_right %}
    - name: {{ task }}
      parent: Leaf MLAG Right Tasks
{%  endfor %}
