---
veos:
  version: {{ veos_version }}
  username: {{ ansible_user }}
  password: {{ ansible_ssh_pass }}

cvp:
  version: {{ cvp_version }}
  instance: singlenode
  username: {{ hostvars[groups[cvp_group][0]].ansible_user }}
  password: {{ hostvars[groups[cvp_group][0]].ansible_password }}

nodes:
{% for node in groups[fabric_name] | arista.avd.natural_sort %}
{%     if hostvars[node].type | arista.avd.default('undefined') in ['spine', 'l3leaf', 'l2leaf', 'super-spine', 'overlay-controller'] %}
  - {{ node }}:
      node_type: veos
      ip_addr: {{ hostvars[node].switch.mgmt_ip | ansible.netcommon.ipaddr('address') }}
      neighbors:
{%         for ethernet_interface in hostvars[node].ethernet_interfaces | arista.avd.natural_sort %}
{%             set interface = hostvars[node].ethernet_interfaces[ethernet_interface] %}
{%             if interface.peer_type | arista.avd.default('undefined') in ['spine', 'l3leaf', 'l2leaf', 'super-spine', 'overlay-controller'] %}
        - neighborDevice: {{ interface.peer }}
          neighborPort: {{ interface.peer_interface }}
          port: {{ ethernet_interface }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
{% for node in groups[cvp_group] | arista.avd.natural_sort %}
  - {{ node }}:
      node_type: cvp
      ip_addr: {{ hostvars[node].ansible_host }}
{% endfor %}
